.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  margin-top: 20px;
}
.contenedor_form{
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid aquamarine;
  border-radius: 20px;
}
.contenedor_form label{
  color: aquamarine;
  margin: 10px;
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 600;
}
.contenedor_form_inputAndButtonUsers{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  align-items: center;
}

.contenedor_form_inputAndButtonUsers input{
  width: 65%;
  height: 30px;
  margin: 10px;
  color: black;
  border-radius: 10px;
  text-align: center;
}
.contenedor_form_inputAndButtonUsers button{
  width: 25%;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(172, 255, 47, 0.527);
  color: yellow;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 600;
}
.contenedor_form_inputAndButtonUsers button:hover {
  cursor: pointer;
  scale: 1.1;
}
.contenedor_tableFoundUsers{
  display: flex;
  width: auto;
  margin: 20px auto;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 500px; 
}
.contenedor_tableFoundUsers table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  font-size: clamp(11px, 2vw, 18px);
  margin: 0px auto;
}
.contenedor_tableFoundUsers table tr{
  height: 50px;
}
.contenedor_tableFoundUsers table tr:hover {
  background-color: #4d4747;
  }
.contenedor_tableFoundUsers table thead, tbody{
  border: 4px solid aquamarine;
  font-weight: 600;
}

.contenedor_tableFoundUsers table thead tr th{
  font-weight: 600;
  background-color: black;
}

.contenedor_tableFoundUsers table thead th, table td {
  color:aquamarine;
  border: 2px solid aquamarine;
  padding: clamp(3px, 1vw, 10px);
  text-align: center;
}


@media screen and (min-width: 765px) {
  .contenedor_form{
    width: 70%;
  }
  .contenedor_tableFoundUsers{
    width: 100%;
    justify-content: center;
  }
  .contenedor_tableFoundUsers table{
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1223px) {
  .contenedor_form{
    width: 35%;
  }
}

@media screen and (max-width: 766px) {
  .columna_rol{
    display: none;
  }
  .columna_nombre{
    width: 70px;
  }
}
